<h1>Chuck Norris Jokes</h1>

<div class="table-responsive mt-5">
  <table  *ngIf="listOfChuckNorrisJokes.length > 1; else loggedOut" class="table">
    <thead>
    <tr>
      <th scope="col">Joke</th>
      <th scope="col">Favourite</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let chuckNorrisJokes of listOfChuckNorrisJokes">
      <td>{{chuckNorrisJokes?.value}}</td>
      <td> <button class="btn btn-info"
                   (click)="addFavourite(chuckNorrisJokes)">favourite</button> </td>
    </tr>
    </tbody>
  </table>
  <ng-template #loggedOut>
    No Jokes to display
    <i class="bi bi-search"></i>
  </ng-template>
</div>
